<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Lesson</title>
</head>
<body>
<form action="/lesson/add" method="post">
    Title <input type="text" name="title">
    Duration <input type="time" name="duration">
    Price <input type="number" name="price">
    Start Date <input type="date" name="startDate">
    Teachers<select name="teacherId">
    <option th:if="teachers != null" th:each="teacher : ${teachers}" th:text="${teacher.name}" th:value="${teacher.id}">
    </option>
</select>
    <input type="submit" value="Add">
</form>
</body>
</html>