<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<form action="/user/add" method="post" enctype="multipart/form-data">
    Name <input type="text" name="name"><br>
    Email <input type="text" name="email"><br>
    Password <input type="password" name="password"><br>
    Picture <input type="file" name="picture"><br>
    Lesson <select name="lesson.id">
    <option th:if="lessons != null" th:each="lesson : ${lessons}" th:text="${lesson.title}" th:value="${lesson.id}">
    </option>
</select><br><br>
    <input type="submit" value="Add">
</form>
</body>
</html>