<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="/user/register" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Name" required><br>
    <input type="text" name="email" placeholder="Email Address" required><br>

    <input type="password" name="password" placeholder="Password" required><br>

<input type="file" name="picture"><br>


    <input type="submit" value="Signup">
</form>
</body>
</html>